#exercise-plan {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}
.exercise-arrow {
    width: 30px;
    font-size: 50px;
    background-image: url("../pictures/arrow.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
}
.exercise-item {
    width: 250px;
    height: 350px;
    border: 1px solid #999;
    border-radius: 15px;
    background-color: #FFF;
    overflow: hidden;
    display: block;
    box-sizing: content-box !important;
}
.exercise-level {
    font-size: 24px;
    color: #FFF;
    font-weight: 300;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 50px;
    background-color: #97c740;
    border: 1px solid #FFF;
    text-shadow: 0px 0px 0px #000, 0px 0px 0px #000;
    border-radius: 30px;
    margin-top: -40px;
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 20;
}
.exercise-title {
    font-size: 32px;
    margin: 20px;
}
.exercise-image {
    display: block;
    width: 160px;
    height: 160px;
    margin: 20px;
    box-sizing: content-box !important;
}
.deficulty {
    display: inline-block;
    margin: 0px;
    color: #000;
    background-color: #FFF;
    border: 1px solid #999;
}
.difficulty-wrapper {
    margin-top: 20px;
}
.level-button {
    display: inline-block;
    min-width: 50px;
}
.exercise-description {
    margin: 18px;
    font-size: 20px;
    margin-top: 50px;
    text-align: center;
}

.goal-description
{
	width: 200px;
	text-align: right;
}

.goal-progress
{
	background-color: #EEE;
}

.progress-bar
{
	height: 34px;
	background: linear-gradient(to top, #97c740, #c2f26a);
}

.goal-numbers
{
	width: 100px;
}

.goal-row
{
	height: 40px;
	outline: thin solid #AAA;
}