html
{
	width: 100%;
	height: 100%;
}

body 
{
	/*font-family: "Open Sans";
	font-size: 18px;
	font-weight: 300;
	
	background-color: #FFF;

	width: 100%;
	height: 100%;
	
	margin: 0px;
	padding: 0px;*/
}

div 
{
	border: 0px solid red;
}

#header
{
	width: 100%;
	height: 80px;
	
	background-color: #303636;
	color: #FFF;
}

#header-text
{
	font-size: 36px;
	padding-left: 20px;
	width: 160px;
}

#background-picture
{	
	width: 100%;
	height: 100%;
	
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -5;
	
	background-image: url("../pictures/bg2.jpg");
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


.page-title
{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	
	text-align: center;
	font-size: 36px;
}

.menu-image
{
	height: 40px;
	width: 40px;
	display: inline;
}

.menu-text
{
	height: 40px;
	display: inline;
	padding: 8px;
	position: relative;
	top: -14px;
	color: #FFF;
}

.menu-item
{
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
}

.language
{
	width: 60px;
	height: 40px;
	
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
}

.full
{
	width: 100%;
	height: 100%;
}

.opacity
{
	opacity: 0.5;
}

.green
{
	color: #97c740;
}

.center
{
	text-align: center;
}

.bottom
{
	position: absolute;
	bottom: 0px;
	width: 100%;
	padding-bottom: 30px;
	text-align: center;
    box-sizing: content-box !important;
}

.no-button
{
	min-width: 25%;
	text-align: center;
	padding: 20px;
	font-size: 24px;
	color: #FFF;
    border-radius: 10px;	
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
}

.button
{	
	min-width: 25%;
	text-align: center;
	padding: 20px;
	font-size: 24px;
	color: #FFF;
    border-radius: 10px;	
    text-shadow: 0 0 0 #000, 0 0 0 #000;
    border: 1px solid #FFF;
    margin-left: 2%;
    margin-right: 2%;
    display: inline-block;
    box-sizing: content-box !important;
}

.orange-bg
{
	background: #ff910c;
}

.green-bg
{
	background: #97c740;
}