#user-profile{
	border-collapse: collapse;
	border-spacing: 0;
	width:700px;
	margin: 0 auto;
}

#user-profile table td{
	padding: 0px 5px;
	height: 60px;
}

#user-profile-left .label{
	font-weight: bold;
}

#user-profile-left{
	border-collapse: collapse;
	border-spacing: 0;
	float:left;
	/*width:200px;*/
}

#user-profile-right{
	border-collapse: collapse;
	border-spacing: 0;
	float:left;
	/*width:300px;*/
}

#user-profile-gravatar{
	float:right;
	width:200px;
	height:300px;
}

#user-profile-star {
 	background-image: url("../pictures/star-32.png");
  	background-repeat: repeat-x;
  	background-position: left center;
  	height: 60px;
  	line-height: 60px;
}