
.welcome-table {
    width: 900px;
    height: 300px;
    border: 5px;
    left: -450px;
    margin-left: 50%;
    margin-top: 5%;
    position: absolute;
}
.welcome-gird {
    width: 400px;
    height: 150px;
    border: 2px solid;
    color: #000000;
    background: #F2F2F2;
    -moz-border-radius:15px; 
    -webkit-border-radius:15px; 
    border-radius:15px;

    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
.welcome-icon {
    left: 50px;
    top: 100px;
    width: 64px;
    height: 64px;
    vertical-align: middle;
}
.welcome-text{
	font-size: 40px;
	font-weight: normal;
	color: black;
	text-shadow: -2px 1px white;
}