/*Codes made by Yini - Start*/
*{
	box-sizing: border-box;
	font-family: Airal, sans-serif;
}
body{
	
	background: url('/interface/pictures/bg3.jpg') center 80px no-repeat;
	background-size: cover;
}
h1, h2, h3, h4, h5, h6{
	margin-top: 0;
	font-family: Arial, sans-serif;
}
#header{
	border-bottom: 3px solid #fff;
	background: #454545; /* Old browsers */
	background: -moz-linear-gradient(top,  #454545 0%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#454545), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #454545 0%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #454545 0%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #454545 0%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #454545 0%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#454545', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
}
.language{
	width: auto;
	height: 30px;
}
.language:first-child{
	margin-left: 50px;
}
.menu-item{
	padding-right: 0;
}
.menu-image {
  height: 30px;
  width: auto;
  float: left;
}
.menu-item.report-problem .menu-image{
	height: 25px;
}
.menu-text {
  height: 30px;
  line-height: 30px;
  display: inline-block;
  color: #FFF;
  margin-left: 10px;
  margin-right: 20px;
  padding: 0;
  position: inherit;
  top: 0;
}
.content{
	width: 924px;
	margin: 0 auto;
	padding: 50px 0 0;
}
.heading{
	border-bottom: 2px solid #000;
}
.body{
  padding: 20px 0;
}
input[type="text"], input[type="email"], textarea{
  border: 2px solid #000;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 10px;
  height: 50px;
  line-height: 40px;
}
.btn{
  border: 2px solid #fff;
  background: #97c950;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 -1px 0 #88b547;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 5px 30px;
  height: 50px;
  line-height: 40px;
  font-size: 20px;
}
.btn:hover{
	background: #A0D357;
}
.btn:focus{
	background: #A7DA5F;
}
.btn span{
	display: inline-block;
	margin-left: 10px;
	width: 12px;
	height: 21px;
}
.btn.next span{
	background: url('/interface/pictures/arrow-white-right.png') no-repeat;
}
.btn.prev span{
	background: url('/interface/pictures/arrow-white-left.png') no-repeat;
}

.welcome .row{
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}
.welcome .row .col:first-child{
	margin-right: 50px;
}
.welcome .col{
	float: none;
	display: inline-block;
	width: 430px;
	height: 170px;
	padding-left: 100px;
	text-transform: uppercase;
	font-size: 230%;
	color: #000;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-top: 45px;
	position: relative;
	line-height: 80px;
}
.welcome .col:hover{
	color: #97c950;
	background: rgba(255,255,255,.6);
	border-color: #fff;
}
.welcome .col:before{
	content: '';
	width: 80px;
	height: 80px;
	position: absolute;
	left: 40px;
}
.welcome .col.exercise:before{
	background: url('/interface/pictures/icon-running.png') center center no-repeat;
}
.welcome .col.goal:before{
	background: url('/interface/pictures/icon-note.png') center center no-repeat;
}
.welcome .col.profile:before{
	background: url('/interface/pictures/icon-profile.png') center center no-repeat;
}
.welcome .col.rank:before{
	background: url('/interface/pictures/icon-star.png') center center no-repeat;
}

#input_name{
	width: 100%;
}
.keyboard{
	width: 100%;
  	height: 297px;
  	margin: 20px auto 0;
	background: #000 url('/interface/pictures/keyboard.jpg') center bottom no-repeat;
}

.register-block{
	float: none;
	display: inline-block;
	height: 100px;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #000;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	line-height: 80px;
}
.register-block.selected{
	color: #97c950;
	background: rgba(255,255,255,.6);
	border-color: #fff;
}
.register-block span{
	display: inline-block;
}
/*Codes made by Yini - End */