/*Codes made by Yini - Start*/
*{
	box-sizing: border-box;
}
.welcome .col{
	display: inline-block;
	width: 430px;
	height: 170;
	text-align: center;
	text-transform: uppercase;
	font-size: 300%;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
}
.welcome .col:hover{
	color: #97c950;
	background: rgba(255,255,255,.6);
	border-color: #fff;
}
.welcome .col:before{
	content: '';
	display: inline-block;
	width: 80px;
	height: 80px;
	margin-right: 20px;
}

.welcome .col.exercise:before{
	background: url('/interface/pictures/icon-running.png') center center no-repeat;
}
.welcome .col.goal:before{
	background: url('/interface/pictures/icon-note.png') center center no-repeat;
}
.welcome .col.profile:before{
	background: url('/interface/pictures/icon-profile.png') center center no-repeat;
}
.welcome .col.rank:before{
	background: url('/interface/pictures/icon-star.png') center center no-repeat;
}
/*Codes made by Yini - End */