/*Codes made by Yini - Start*/
*{
	box-sizing: border-box;
}
.content{
	padding: 50px 0 0;
}
.welcome .row{
	width: 100%;
	margin-bottom: 50px;
	text-align: center;
}
.welcome .row .col:first-child{
	margin-right: 50px;
}
.welcome .col{
	display: inline-block;
	width: 430px;
	height: 170px;
	padding-left: 100px;
	text-transform: uppercase;
	font-size: 280%;
	color: #000;
	border: 3px solid #2b2b2b;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	padding-top: 45px;
	position: relative;
	line-height: 80px;
}
.welcome .col:hover{
	color: #97c950;
	background: rgba(255,255,255,.6);
	border-color: #fff;
}
.welcome .col:before{
	content: '';
	width: 80px;
	height: 80px;
	position: absolute;
	left: 40px;
}

.welcome .col.exercise:before{
	background: url('/interface/pictures/icon-running.png') center center no-repeat;
}
.welcome .col.goal:before{
	background: url('/interface/pictures/icon-note.png') center center no-repeat;
}
.welcome .col.profile:before{
	background: url('/interface/pictures/icon-profile.png') center center no-repeat;
}
.welcome .col.rank:before{
	background: url('/interface/pictures/icon-star.png') center center no-repeat;
}
/*Codes made by Yini - End */